#include <windows.h>
#include "win32/rc.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION SJME_VERSION_WINDOWS_RC
PRODUCTVERSION SJME_VERSION_WINDOWS_RC
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Stephanie Gawroriski\0"
			VALUE "FileDescription",  "Java ME 8 Virtual Machine.\0"
			VALUE "InternalName",     "SquirrelJME\0"
			VALUE "OriginalFilename", "squirreljme_libretro.dll\0"
			VALUE "ProductName",      "SquirrelJME\0"

			VALUE "LegalCopyright",   SJME_WINDOWS_COPYRIGHT
			VALUE "LegalTrademarks1", SJME_WINDOWS_TRADEMARK
			VALUE "LegalTrademarks2", SJME_WINDOWS_TRADEMARK
			VALUE "FileVersion",      SJME_STRINGIFY(SJME_VERSION) "\0"
			VALUE "ProductVersion",   SJME_STRINGIFY(SJME_VERSION) "\0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
