# Gradle Cache
.gradle

# Git Checkout
.git

# Gradle Build
build
*/build
**/build
*.log

# IntelliJ Settings (Not needed)
.idea

# Fossil Checkout (UNIX and Windows)
.fslckout
_FOSSIL_

# Contributions
*.diff
*.gdiff
*.patch
*.rej
*.bun
*.bundle
*-original
*-original-*

# CMake
ratufacoat/cmake-build-release
ratufacoat/cmake-build-debug
ratufacoat/CMakeFiles
ratufacoat/src/CMakeFiles
ratufacoat/src/Debug
ratufacoat/src/Release
ratufacoat/src/SquirrelJME.dir
ratufacoat/x86
ratufacoat/x64
ratufacoat/out
nanocoat/cmake-build-release
nanocoat/cmake-build-debug
nanocoat/CMakeFiles
nanocoat/src/CMakeFiles
nanocoat/src/Debug
nanocoat/src/Release
nanocoat/src/SquirrelJME.dir
nanocoat/x86
nanocoat/x64
nanocoat/out
*.o
*.dll
*.exe
