# Gradle Cache
.gradle

# Git Checkout
.git

# Gradle Build
build
*/build
**/build
.log

# IntelliJ Settings (Not needed)
.idea

# Fossil Checkout (UNIX and Windows)
.fslckout
_FOSSIL_

# Contributions
*.diff
*.gdiff
*.patch
*.rej
*.bun
*.bundle
