CompileFlags:
	Add:
	- "-Werror=address-of-temporary"
	- "-Werror=binary-literal"
	- "-Werror=bitfield-enum-conversion"
	- "-Werror=bitfield-width"
	- "-Werror=c-attribute-extension"
	- "-Werror=c11-extensions"
	- "-Werror=c23-extensions"
	- "-Werror=comment"
	- "-Werror=duplicate-method-arg"
	- "-Werror=gcc-compat"
	- "-Werror=gnu"
	- "-Werror=implicit-function-declaration"
	- "-Werror=implicit-int"
	- "-Werror=implicit-overflow-behavior-conversion"
	- "-Werror=inline-asm"
	- "-Werror=microsoft"
	- "-Werror=non-gcc"
	- "-Werror=pedantic"
	- "-Werror=Wduplicate-enum"
	- "-Warray-compare"
	- "-Wassign-enum"
	- "-Wdocumentation"
	- "-Wdocumentation-html"
	- "-Wdocumentation-unknown-command"
	- "-Wfloat-equal"
	- "-Wformat-non-iso"
	- "-Wglobal-constructors"
	- "-Winconsistent-dllimport"
	- "-Wshadow"
	- "-Wuninitialized"
	- "-Wno-attributes"
	- "-Wno-empty-body"
	- "-Wno-extra-semi"
	- "-Wno-extra-semi-stmt"
	- "-Wno-infinite-recursion"
	- "-Wno-parentheses-equality"
	- "-Wno-unused-label"
	- "-Wno-unused-parameter"
	- "-Wno-unused-variable"
	- "-Wno-sign-conversion"
	- "-Wno-error=format-pedantic"
	- "-Wno-error=format-type-confusion"