log_verbosity = "true"
libretro_log_level = "0"
video_fullscreen = "false"
video_windowed_fullscreen = "false"
video_threaded = "false"
video_vsync = "true"
menu_driver = "rgui"
pause_nonactive = "false"
video_window_auto_width_max = "640"
video_window_auto_height_max = "480"
video_windowed_position_x = "0"
video_windowed_position_y = "0"
video_windowed_position_width = "640"
video_windowed_position_height = "480"
custom_viewport_width = "640"
custom_viewport_height = "480"