#include <windows.h>
#include "win32/rc.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION SQUIRRELJME_VERSION_WINDOWS_RC
PRODUCTVERSION SQUIRRELJME_VERSION_WINDOWS_RC
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Stephanie Gawroriski\0"
			VALUE "FileDescription",  "Java ME 8 Virtual Machine.\0"
			VALUE "InternalName",     "SquirrelJME\0"
			VALUE "OriginalFilename", "SquirrelJME.exe\0"
			VALUE "ProductName",      "SquirrelJME\0"

			VALUE "LegalCopyright",   SQUIRRELJME_WINDOWS_COPYRIGHT
			VALUE "LegalTrademarks1", SQUIRRELJME_WINDOWS_TRADEMARK
			VALUE "LegalTrademarks2", SQUIRRELJME_WINDOWS_TRADEMARK
			VALUE "FileVersion",      SJME_STRINGIFY(SQUIRRELJME_VERSION) "\0"
			VALUE "ProductVersion",   SJME_STRINGIFY(SQUIRRELJME_VERSION) "\0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END

/*id ICON "squirreljme.ico"*/
